<template>
<div>
    <LtwHeader />
    <main class="container">
        <transition name="fade" mode="out-in">
            <slot />
        </transition>
    </main>
    <!-- <LtwFooter />-->
</div>
</template>

<script>
import LtwHeader from "@/layouts/DefaultLayout/partials/LtwHeader";
//import LtwFooter from "@/layouts/partials/LtwFooter";

export default {
    name: 'DefaultLayout',
    components: {
        LtwHeader
        //LtwFooter
    }
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active in <2.1.8 */
    {
    opacity: 0
}
</style>
