<template>
    <div>
        <component :is="layout">
            <router-view :layout.sync="layout"/>
        </component>
    </div>
</template>

<script>
    const default_layout = 'default';
    export default {
        name: 'App',
        computed: {
            layout() {
                return( this.$route.meta.layout || default_layout) + '-layout';
            },
        },
    };
</script>
