<template>
<div class="navbar">
    <div class="container">
        <div class="menu-wrapper d-flex">
            <a href="#" class="logo">
                <img src="http://plantilladev.loc/images/imagotipo.svg" alt="">
            </a>
            <nav class="main-menu">
                <router-link :to="{ name: 'dashboard' }" active-class="active" exact>
                    Inicio
                </router-link>
                <router-link :to="{ name: 'category-list' }" active-class="active" exact>
                    Categorías
                </router-link>
                <router-link :to="{ name: 'constant-list' }" active-class="active" exact>
                    Constantes
                </router-link>
                <router-link :to="{ name: 'form-list' }" active-class="active" exact>
                    Formularios
                </router-link>
                <router-link :to="{ name: 'group-list' }" active-class="active" exact>
                    Grupos
                </router-link>
                <router-link :to="{ name: 'image-list' }" active-class="active" exact>
                    Imágenes
                </router-link>
                <router-link :to="{ name: 'layout-list' }" active-class="active" exact>
                    Layouts
                </router-link>
                <router-link :to="{ name: 'locale-list' }" active-class="active" exact>
                    Locales
                </router-link>
                <router-link :to="{ name: 'post-list' }" active-class="active" exact>
                    Noticias
                </router-link>
                <router-link :to="{ name: 'page-list' }" active-class="active" exact>
                    Páginas
                </router-link>
                <router-link :to="{ name: 'product-list' }" active-class="active" exact>
                    Productos
                </router-link>
                <router-link :to="{ name: 'text-list' }" active-class="active" exact>
                    Textos
                </router-link>
                <a href="#">Usuarios</a>
            </nav>
        </div>
        <div class="add-menu d-flex align-items-center">
            <ul class="dropdown list-unstyled">
                <li><a href="#" class="btn btn-ghost icon_arrow_select_sm_w icon-right">Añadir</a>
                    <ul class="list-unstyled">
                        <li>
                            <router-link :to="{ name: 'category-create' }" active-class="active" exact>
                                Categorías
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'constant-create' }" active-class="active" exact>
                                Constantes
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'group-create' }" active-class="active" exact>
                                Grupos
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'image-create' }" active-class="active" exact>
                                Imágenes
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'layout-create' }" active-class="active" exact>
                                Layouts
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'locale-create' }" active-class="active" exact>
                                Locales
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'post-create' }" active-class="active" exact>
                                Noticias
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'page-create' }" active-class="active" exact>
                                Páginas
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'product-create' }" active-class="active" exact>
                                Productos
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'text-create' }" active-class="active" exact>
                                Textos
                            </router-link>
                        </li>
                    </ul>
                </li>
            </ul>
            <label for="help" class="custom-control custom-checkbox custom-switch ml-20">
                <input type="checkbox" name="help" id="help" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Ayuda</span>
            </label>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: "LtwHeader"
};
</script>
